stages:
  - test
  - build
  - deploy

pint:
  stage: test
  image: laravelsail/php83-composer:latest
  script:
    - composer install --prefer-dist --no-progress
    - ./vendor/bin/pint --test
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - when: always

build:
  stage: build
  image: laravelsail/php83-composer:latest
  script:
    - composer install --no-dev --prefer-dist --no-progress --no-interaction
  artifacts:
    paths:
      - vendor/
      - bootstrap/cache/
    expire_in: 1 hour
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  
deploy:
    stage: deploy
    script:
      - echo "Deploying Belum ada!"
    rules:
      - when: manual
